#meal {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#meal::marker {
    display: none;
}

button {
    transition-duration: 200ms;
}

.date {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.day_container {
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}